:root {
    --primary-dark-clr-700: #01341c;
    --primary-bright-clr-300: #66ffcc;
}

.testimonials-section {
    --testimonial-brand-color: #fff6c2b7;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 2rem;
    background-color: rgba(0, 0, 0, 0.863);
    background-color: #0b0a0ac2;
    color: rgba(255, 255, 255, 0.9);
}

.testimonials-section-container {
    width: min(100%, 1440px);
    min-height: 50rem;
}

.testimonial-title {
    text-transform: capitalize;
}

.testimonial-sub-title {
    text-transform: uppercase;
}

.section-headings {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    /* margin-bottom: 4rem; */
}

.section-headings h2 {
    font-family: var(--ahy-heading-font-tomorrow);
    font-size: 4rem;
}

.section-headings p {
    font-size: 2rem;
    font-family: var(--ahy-body-font-grandstander);
    font-weight: var(--ahy-weight-medium);
}

.testimonials-section-title {
    font-family: var(--ahy-heading-font-tomorrow);
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1.5rem;
}

.testimonials-layout-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    padding: 0;
    align-items: flex-start;
}

.sticky-images-container {
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    flex-shrink: 0;
}

.testimonial-images-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.testimonial-image-container {
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    transition: opacity 0.6s ease-in-out;
}

.testimonial-image-container picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.testimonial-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.testimonial-person-img {
    z-index: 1;
}

.testimonial-company-img img {
    object-fit: cover;
}

.testimonial-company-img {
    z-index: 2;
    transition: opacity 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.testimonial-image-container.active .testimonial-company-img {
    opacity: 0;
}

.testimonial-image-container.active {
    opacity: 1;
}

.active-testimonial-image-highlight {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    border-radius: 50%;
    outline: 3px solid var(--testimonial-brand-color);
    outline-offset: 6px;
    opacity: 0;
    z-index: -1;
    transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94),
        opacity 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    pointer-events: none;
}

.active-testimonial-image-highlight.visible {
    opacity: 1;
    z-index: 10;
}

.active-testimonial-image-highlight::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 130%;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--testimonial-brand-color);
    transform: translateY(-50%);
}

.testimonials-content-layout-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.testimonial-content-container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 1px solid rgb(119 119 119 / 52%);
    gap: 2.5rem;
    padding: 4rem 0;
}

.testimonial-content-container:nth-last-of-type(1) {
    border-bottom: none;
    padding-bottom: 0px;
}

.testimonial-text {
    position: relative;
    font-size: 2.5rem;
    font-weight: 300;
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
    font-family: var(--ahy-body-font-grandstander);
    word-break: keep-all;
    overflow-wrap: anywhere;
    max-width: 50ch;
    line-height: 1.6;
}

.testimonial-text span:first-child {
    display: block;
}

.testimonial-text span {
    font-size: 2rem;
}

.testimonial-quotes-container {
    position: absolute;
    top: -25px;
    left: -48px;
    width: 1.7rem;
    font-size: 5rem;
    color: rgb(40, 160, 68);
    opacity: 0.5;
}

.testimonial-text-1,
.testimonial-text-2,
.testimonial-text-3,
.testimonial-text-4 {
    color: rgb(255, 255, 255);
}

.testimonial-extra-info-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.8rem;
    padding-left: 0.1em;
}

.testimonial-person-info {
    color: var(--testimonial-brand-color);
    font-family: var(--ahy-body-font-grandstander);
}

.testimonial-name {
    font-family: var(--ahy-body-font-grandstander);
    font-size: 2rem;
    font-weight: 600;
}

.testimonial-designation {
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 14px;
    font-style: italic;
}

.testimonial-person-social-list-container {
    display: flex;
    gap: 1rem;
    padding-left: 0.03em;
}

.vision-section-activation-viewport-check {
    position: absolute;
    left: 0;
    bottom: -100px;
    width: 100%;
    height: 100px;
}

.testimonials-accent-graphic-container {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    bottom: calc(70% - 300px);
    right: 0;
    opacity: 0.45;
    transform: scale(-1, 1);
}

.testimonial-text .word {
    display: inline-block;
    white-space: pre;
    vertical-align: baseline;
    line-height: 1.2em;
    position: relative;
}

/* Responsive Breakpoints */
@media (min-width: 1900px) {
    .testimonials-section {
        padding: 6rem 2rem;
    }

    .section-headings {
        gap: 2rem;
        /* margin-bottom: 5rem; */
    }

    .sticky-images-container {
        gap: 4rem;
    }

    .testimonial-image-container {
        width: 5.5rem;
        height: 5.5rem;
    }

    .testimonial-content-container {
        min-height: 500px;
        gap: 3rem;
        padding: 5rem 0;
    }

    .testimonial-text {
        font-size: 2.5rem;
        line-height: 1.6;
    }

    .testimonial-quotes-container {
        left: -54px;
        width: 2rem;
    }

    .testimonial-extra-info-container {
        gap: 1rem;
    }
}

@media (min-width: 1450px) and (max-width: 1899px) {
    .testimonials-section {
        padding: 8rem 2rem;
    }

    .section-headings {
        gap: 1.5rem;
        /* margin-bottom: 4rem; */
    }

    .sticky-images-container {
        gap: 3.5rem;
    }

    .testimonial-image-container {
        width: 5rem;
        height: 5rem;
    }

    .testimonial-content-container {
        min-height: 600px;
        gap: 2.5rem;
        padding: 4rem 0;
    }

    .testimonial-quotes-container {
        margin-top: -3rem;
        width: 20px;
    }

    .testimonial-person-social-list-container {
        gap: 1.5rem;
    }

    .testimonial-extra-info-container {
        gap: 0.8rem;
    }
}

@media (min-width: 1025px) and (max-width: 1449px) {
    .testimonials-section {
        padding: 7rem 3rem;
    }

    .section-headings {
        gap: 1.5rem;
        margin-bottom: 3.5rem;
    }

    .testimonial-quotes-container {
        margin-top: -3rem;
        width: 40px;
    }

    .testimonial-extra-info-container {
        gap: 0.8rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .testimonials-section {
        padding: 6rem 2rem;
    }

    .section-headings {
        gap: 1.2rem;
        margin-bottom: 3rem;
    }

    .testimonials-layout-wrapper {
        gap: 5rem;
    }

    .testimonial-quotes-container {
        margin-top: -3rem;
        width: 30px;
    }

    .testimonial-content-container {
        min-height: 450px;
        gap: 2rem;
        padding: 3rem 0;
    }

    .testimonial-text {
        font-size: 2rem;
        line-height: 1.5;
    }

    .testimonial-text span {
        font-size: 1.5rem;
    }

    .testimonial-extra-info-container {
        gap: 0.6rem;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    .testimonials-section {
        padding: 5rem 2rem;
        overflow: hidden;
    }

    .section-headings {
        gap: 1rem;
        margin-bottom: 2.5rem;
    }

    .section-headings h2 {
        font-size: 2.5rem;
    }

    .section-headings p {
        font-size: 1.4rem;
    }

    .testimonials-layout-wrapper {
        gap: 4rem;
        padding: 0;
    }

    .testimonial-content-container {
        min-height: min(350px, 100vh);
        gap: 1.8rem;
        padding: 2.5rem 0;
    }

    .testimonial-text {
        font-size: 1.6rem;
        line-height: 1.5;
    }

    .testimonial-text span {
        font-size: 1.2rem;
    }

    .testimonial-extra-info-container {
        gap: 0.5rem;
    }

    .testimonial-person-social-list-container {
        gap: 1.5rem;
    }

    .active-testimonial-image-highlight::before {
        display: none;
    }

    .vision-section-activation-viewport-check {
        bottom: -200px;
    }
}

@media (min-width: 361px) and (max-width: 500px) {
    .testimonials-section {
        padding: 4rem 1.5rem;
    }

    .section-headings {
        gap: 1rem;
        margin-bottom: 2rem;
    }

    .section-headings h2 {
        font-size: 2rem;
    }

    .section-headings p {
        font-size: 1.2rem;
        /* padding-left: 1rem;
        padding-right: 1rem; */
    }

    .testimonials-layout-wrapper {
        gap: 3rem;
        padding: 0;
    }

    .testimonial-image-container {
        width: 3.5rem;
        height: 3.5rem;
    }

    .testimonial-content-container {
        min-height: 400px;
        gap: 1.5rem;
        padding: 2rem 0;
    }

    .testimonial-text {
        font-size: 1.4rem;
        line-height: 1.5;
    }

    .testimonial-text span {
        font-size: 1.1rem;
    }

    .testimonial-quotes-container {
        width: 25px;
        margin-top: -2rem;
    }

    .sticky-images-container {
        height: 500px;
        max-height: 500px;
    }

    .testimonials-accent-graphic-container {
        display: none;
    }

    .testimonial-person-info {
        display: flex;
        flex-direction: column;
    }

    .testimonial-designation {
        letter-spacing: 0;
    }

    .testimonial-extra-info-container {
        gap: 0.4rem;
    }
}

@media (max-width: 360px) {
    .testimonials-section {
        padding: 3.5rem 1rem;
    }

    .section-headings {
        gap: 0.8rem;
        margin-bottom: 2rem;
    }

    .section-headings h2 {
        font-size: 1.7rem;
    }

    .section-headings p {
        font-size: 1.1rem;
    }

    .testimonials-layout-wrapper {
        gap: 3rem;
        padding: 0;
    }

    .testimonial-image-container {
        width: 3.5rem;
        height: 3.5rem;
    }

    .testimonial-content-container {
        min-height: 380px;
        gap: 1.5rem;
        padding: 2rem 0;
    }

    .testimonial-text {
        font-size: 1.2rem;
        line-height: 1.5;
    }

    .testimonial-text span {
        font-size: 1rem;
    }

    .testimonial-quotes-container {
        margin-top: -2rem;
        width: 21px;
    }

    .testimonial-person-social-list-container {
        gap: 1rem;
    }

    .testimonial-extra-info-container {
        gap: 0.4rem;
    }
}











