.featured-body {
    /* background-color: #1a1a1a; */
}

svg.featured-svg {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

section.featured-about {
    position: relative;
    width: 100%;
    height: 100svh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section.featured-services {
    position: relative;
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.featured-services-header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    .featured-services-header {
        height: 150px;
    }
}

@media (max-width: 640px) {
    .featured-services-header {
        height: 110px;
    }
}

.featured-services-header.featured-svg {
    object-fit: contain;
}

.featured-services-header:nth-child(1),
.featured-services-header:nth-child(3),
.featured-services-header:nth-child(5) {
    transform: translateX(100%) translateY(0%);
}

.featured-services-header:nth-child(2),
.featured-services-header:nth-child(4) {
    transform: translateX(-100%) translateY(0%);
    z-index: 2;
}




.svg-mobile {
    display: none;
}

.svg-desktop {
    display: block;
}

/* Switch to mobile SVGs on smaller screens */
@media (max-width: 768px) {
    .svg-mobile {
        display: block;
    }
    
    .svg-desktop {
        display: none;
    }
    .featured-services-header svg{
        width: 20rem;
        height: auto;
    }
    section.featured-services {
        position: relative;
        width: 100%;
        height: 100svh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
    }
}