<section class="about-scroll-container">
    <div class="about-sticky-wrap">
        <div class="about-main-frame">
            <div class="about-center-content">
                <div id="progress-container">
                    <div class="alfa-slab-one-regular" id="progress">
                        OUR <br />
                        IMPACT
                    </div>

                </div>
            </div>
            <div class="about-bottom-panel">
                <div class="about-counter-box" id="counter1">
                    <img src="assets/tick-2.svg" alt="Tick" class="counter-icon" loading="lazy" decoding="async"
                        height="100%" width="100%" />
                    <span class="count">0</span>
                    <p>Projects Delivered</p>
                </div>
                <div class="about-counter-box" id="counter2">
                    <img src="assets/arrow-up.svg" alt="Arrow up" class="counter-icon" loading="lazy" decoding="async"
                        height="100%" width="100%" />
                    <span class="count">0</span>
                    <p>Years of expertise</p>
                </div>
                <div class="about-counter-box" id="counter3">
                    <img src="assets/star.svg" alt="Star" class="counter-icon" loading="lazy" decoding="async"
                        height="100%" width="100%" />
                    <span class="count">0</span>
                    <p>Client Reviews</p>
                </div>
            </div>

            <!-- Our Partners Section (integrated) -->
            <section class="our-partner-section">
                <div class="our-partner-container">
                    <div class="our-partner-text-column">
                        <p>
                            Trusted by fast-growing companies around the world.
                        </p>
                    </div>
                    <div class="our-partner-logo-grid">
                        <!-- Column 1 -->
                        <div class="our-partner-logo-wrapper">
                            <ul class="our-partner-logo-column">
                                <li>
                                    <img src="assets/home-page-images/magento-2-desktop.webp" srcset="
                                            assets/home-page-images/magento-2-mobile.webp 150w,
                                            assets/home-page-images/magento-2-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async"
                                        alt="Magento" />
                                </li>
                                <li>
                                    <img src="assets/two-two_11zon.webp" alt="one-fifty" class="chowdhary-logo"
                                        loading="lazy" decoding="async" />
                                </li>
                                <li>
                                    <img alt="Klevu" src="assets/home-page-images/klevu-desktop.webp" srcset="
                                            assets/home-page-images/klevu-mobile.webp 150w,
                                            assets/home-page-images/klevu-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async" />
                                </li>
                                <li>
                                    <img src="assets/home-page-images/aws-desktop.webp" srcset="
                                            assets/home-page-images/aws-mobile.webp 150w,
                                            assets/home-page-images/aws-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async"
                                        alt="AWS" />
                                </li>


                                <li>
                                    <img src="assets/home-page-images/luro-connect-desktop.webp" srcset="
                                            assets/home-page-images/luro-connect-mobile.webp 150w,
                                            assets/home-page-images/luro-connect-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async"
                                        alt="Luro Connect" />
                                </li>
                                <li>
                                    <img src="assets/home-page-images/amasty-desktop.webp" srcset="
                                            assets/home-page-images/amasty-mobile.webp 150w,
                                            assets/home-page-images/amasty-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async"
                                        alt="Amasty" />
                                </li>
                            </ul>
                        </div>
                        <!-- Column 2 -->
                        <div class="our-partner-logo-wrapper">
                            <ul class="our-partner-logo-column">

                                <li>
                                    <img src="assets/two-two_11zon.webp" alt="one-fifty" class="chowdhary-logo"
                                        loading="lazy" decoding="async" />
                                </li>
                                <li>
                                    <img src="assets/home-page-images/luro-connect-desktop.webp" srcset="
                                            assets/home-page-images/luro-connect-mobile.webp 150w,
                                            assets/home-page-images/luro-connect-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async"
                                        alt="Luro Connect" />
                                </li>
                                <li>
                                    <img src="assets/pay-u.webp" alt="pay-u" class="pay-u-logo" loading="lazy"
                                        decoding="async" />
                                </li>
                                <li>
                                    <img alt="Klevu" src="assets/home-page-images/klevu-desktop.webp" srcset="
                                            assets/home-page-images/klevu-mobile.webp 150w,
                                            assets/home-page-images/klevu-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async" />
                                </li>



                                <li>
                                    <img src="assets/home-page-images/amasty-desktop.webp" srcset="
                                            assets/home-page-images/amasty-mobile.webp 150w,
                                            assets/home-page-images/amasty-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async"
                                        alt="Amasty" />
                                </li>

                                <li>
                                    <img src="assets/home-page-images/magento-2-desktop.webp" srcset="
                                            assets/home-page-images/magento-2-mobile.webp 150w,
                                            assets/home-page-images/magento-2-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async"
                                        alt="Magento" />
                                </li>
                            </ul>
                        </div>
                        <!-- Column 3 -->
                        <div class="our-partner-logo-wrapper">
                            <ul class="our-partner-logo-column">
                                <li>
                                    <img src="assets/home-page-images/luro-connect-desktop.webp" srcset="
                                            assets/home-page-images/luro-connect-mobile.webp 150w,
                                            assets/home-page-images/luro-connect-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async"
                                        alt="Luro Connect" />
                                </li>

                                <li>
                                    <img src="assets/home-page-images/amasty-desktop.webp" srcset="
                                            assets/home-page-images/amasty-mobile.webp 150w,
                                            assets/home-page-images/amasty-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async"
                                        alt="Amasty" />
                                </li>

                                <li>
                                    <img src="assets/home-page-images/experro-desktop.webp" srcset="
                                            assets/home-page-images/experro-mobile.webp 150w,
                                            assets/home-page-images/experro-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async"
                                        alt="Experro" />
                                </li>

                                <li>
                                    <img src="assets/two-two_11zon.webp" alt="one-fifty" class="chowdhary-logo"
                                        loading="lazy" decoding="async" />
                                </li>
                                <li>
                                    <img src="assets/home-page-images/magento-2-desktop.webp" srcset="
                                            assets/home-page-images/magento-2-mobile.webp 150w,
                                            assets/home-page-images/magento-2-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async"
                                        alt="Magento" />
                                </li>
                            </ul>
                        </div>
                        <!-- Column 4 -->
                        <div class="our-partner-logo-wrapper">
                            <ul class="our-partner-logo-column">
                                <li>
                                    <img src="assets/digital-ocean-logo_11zon.webp" alt="digital-ocean-logo"
                                        loading="lazy" decoding="async" class="digital-ocean-logo" />
                                </li>

                                <li>
                                    <img src="assets/home-page-images/bemeir-desktop.webp" srcset="
                                            assets/home-page-images/bemeir-mobile.webp 150w,
                                            assets/home-page-images/bemeir-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async"
                                        alt="Bemeir" />
                                </li>
                                <li>
                                    <img src="assets/home-page-images/amasty-desktop.webp" srcset="
                                            assets/home-page-images/amasty-mobile.webp 150w,
                                            assets/home-page-images/amasty-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async"
                                        alt="Amasty" />
                                </li>
                                <li>
                                    <img src="assets/home-page-images/magento-2-desktop.webp" srcset="
                                            assets/home-page-images/magento-2-mobile.webp 150w,
                                            assets/home-page-images/magento-2-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async"
                                        alt="Magento" />
                                </li>
                                <li>
                                    <img src="assets/home-page-images/experro-desktop.webp" srcset="
                                            assets/home-page-images/experro-mobile.webp 150w,
                                            assets/home-page-images/experro-desktop.webp 300w
                                        " sizes="(max-width: 768px) 150px, 300px" loading="lazy" decoding="async"
                                        alt="Experro" />
                                </li>

                                <li>
                                    <img src="assets/two-two_11zon.webp" alt="one-fifty" class="chowdhary-logo"
                                        loading="lazy" decoding="async" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>