<div class="BTwords-page">
    <section class="BTwords-outer">
        <section class="BTwords-scroll-section">
            <div style="max-width: 85%;display: flex;justify-content: center; align-items: center;">
               <p class="BTwords-pin-text">
  People-driven thinking.
  Digital <span class="highlight-text">solutions</span> that
  <span class="highlight-text">scale.</span>
</p>

            </div>
            

            <div class="BTwords-content">
                <img class="BTwords-image" src="/assets/teams/team1.webp" alt="Image 1">
                <img class="BTwords-image" src="/assets/teams/team3.webp" alt="Image 2">
                <img class="BTwords-image" src="/assets/teams/team2.webp" alt="Image 3">
                <img class="BTwords-image" src="/assets/teams/team4.webp" alt="Image 4">
                <img class="BTwords-image" src="/assets/teams/team5.webp" alt="Image 5">
                <img class="BTwords-image" src="/assets/teams/team6.webp" alt="Image 6">
            </div>
        </section>
    </section>
</div>