<section class="scrollableCards-section">
    <div class="scrollableCards-boxes">
        <div class="scrollableCards-box">
            <span class="scrollableCards-initial">A</span>
            <div class="scrollableCards-card">
                <div class="scrollableCards-image">
                    <img src="/assets/Matt-image.jpg" alt="Matt-image" />
                </div>
                <div class="scrollableCards-info">
                    <p>Director</p>
                    <h1>Alex <span>Hales</span></h1>
                </div>
            </div>
        </div>

        <div class="scrollableCards-box">
            <span class="scrollableCards-initial">J</span>
            <div class="scrollableCards-card">
                <div class="scrollableCards-image">
                    <img src="/assets/brenna-image.jpg" alt="Brenna-image" />
                </div>
                <div class="scrollableCards-info">
                    <p>Tech Head</p>
                    <h1>Julie <span>Roy</span></h1>
                </div>
            </div>
        </div>

        <div class="scrollableCards-box">
            <span class="scrollableCards-initial">D</span>
            <div class="scrollableCards-card">
                <div class="scrollableCards-image">
                    <img src="/assets/steve-image.jpg" alt="Steve-image" />
                </div>
                <div class="scrollableCards-info">
                    <p>Lead</p>
                    <h1>Dawid <span>Malan</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>