<footer class="ahy-footer">
    <div class="ahy-color-absorption"></div>
    <div class="ahy-dot-accent"></div>

    <div class="ahy-footer-content">
        <div class="ahy-content-wrapper">
            <div class="ahy-social-links">
                <a href="https://www.instagram.com/ahyconsulting/" class="ahy-social-link" target="_blank">Instagram</a>
                <a href="https://www.facebook.com/ahyconsulting" class="ahy-social-link" target="_blank">Facebook</a>
                <a href="https://x.com/ahyconsulting" class="ahy-social-link" target="_blank">Twitter</a>
                <a href="https://www.linkedin.com/in/ahyharpreet" class="ahy-social-link" target="_blank">LinkedIn</a>
            </div>

            <div class="ahy-main-row">
                <div class="ahy-big-text-container">
                    <div class="ahy-big-text-base" id="ahy-bigTextBase">AHY</div>
                    <div class="ahy-big-text-overlay" id="ahy-bigTextOverlay">AHY</div>
                </div>

                <div class="ahy-contact-info" aria-label="Contact information">
                    <div class="ahy-contact-location">
                        <span>Mumbai | New Jersey</span>
                    </div>
                    <div class="ahy-contact-email"><a href="mailto:info@ahyconsulting.com">info@ahyconsulting.com</a></div>
                    <div class="ahy-contact-phone">
                        <a href="tel:+919167676599">(+91) 91 6767 65 99</a>
                    </div>
                </div>
            </div>

            <div class="ahy-footer-bottom">
                <span class="ahy-copyright" id="ahy-copyright"></sp>
                <!-- <a href="#" class="ahy-back-to-top" id="ahy-backToTop">Back to Top</a> -->
                <!-- <p>Back to Top</p> -->
            </div>
        </div>
    </div>
</footer>