<!-- Menu Component -->
<div class="ahy-logo" style="z-index: 10">
    <a href="/" title="homepage">
        <img src="/assets/ahy-logo.webp" alt="Ahy Logo" loading="eager" fetchpriority="high" decoding="async" width="160" height="48" style="display: block" />
    </a>
</div>

<div class="menu-toggle closed">
    <div class="menu-toggle-icon">
        <div class="hamburger">
            <div class="menu-bar" data-position="top"></div>
            <div class="menu-bar" data-position="bottom"></div>
        </div>
    </div>

    <div class="menu-copy">
        <p>Menu</p>
    </div>
</div>

<div class="overlay">
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
</div>

<div class="overlay-menu modern-menu">
    <nav class="modern-menu-container">
        <ul class="modern-menu-list">
            <li class="modern-menu-item">
                <a href="/" class="menu-link">Home</a>
            </li>

            <li class="modern-menu-item has-submenu">
                <p class="menu-link"><a href="/about" >Who We Are</a></p>
                <ul class="submenu">
                    <!-- <li class="submenu-item"><a href="/about" class="submenu-link">Who We Are</a></li> -->
                    <li class="submenu-item"><a href="/team" class="submenu-link">Our Team</a></li>
                    <li class="submenu-item"><a href="/partners" class="submenu-link">Partners</a></li>
                </ul>
            </li>

            <li class="modern-menu-item has-submenu">
                <p class="menu-link"><a href="/services">What We Do</a></p>
                <ul class="submenu">
                    <!-- <li class="submenu-item"><a href="/services" class="submenu-link">View All Services</a></li> -->
                    <!-- <li class="submenu-item"><a href="/services" class="submenu-link">View All Services</a></li> -->
                    <li class="submenu-item"><a href="/hyva" class="submenu-link">Hyvä Themes</a></li>
                    <li class="submenu-item"><a href="/shopify-development" class="submenu-link">Shopify</a></li>
                    <li class="submenu-item"><a href="/reactjs-development" class="submenu-link">ReactJs</a></li>
                    <li class="submenu-item"><a href="/reactnative-development" class="submenu-link">React Native</a></li>
                    <!-- <li class="submenu-item"><a href="/research-lab" class="submenu-link">Research Lab</a></li> -->
                </ul>
            </li>
            <li class="modern-menu-item">
                <a href="/how-we-think" class="menu-link">How We Think</a>
            </li>
            <li class="modern-menu-item">
                <a href="https://casestudies.ahyconsulting.com/project-list?utm_source=ahyconsulting&utm_medium=referral&utm_campaign=crosssite" class="menu-link">Case Studies</a>
            </li>

            <li class="modern-menu-item">
                <a href="/career" class="menu-link">Career</a>
            </li>

            <li class="modern-menu-item">
                <a href="/contact" class="menu-link">Contact</a>
            </li>
        </ul>
    </nav>
</div>
