<section class="marquee-section">

    <div class="marquee-cards">
        <!-- CARD 1 -->
        <div class="marquee-card">
            <div class="marquee-card-marquee">
                <div class="marquee-track">
                    <h1>INNOVATION</h1>
                    <h1>TECHNOLOGY</h1>
                    <h1>STRATEGY</h1>
                    <h1>GROWTH</h1>
                </div>
            </div>
            <div class="marquee-card-wrapper">
                <div class="marquee-card-img">
                    <div class="marquee-overlay"></div>
                    <div class="marquee-img" style="
                        background-image:url('/assets/marquee-reveal-bg-img.webp');
                        background-size:cover;
                        background-position:center;
                    "></div>
                    <div class="marquee-card-content">
                        <div class="marquee-card-title">
                            <h1 class="marquee-title">
                                What <span style="color: #e21861;">We</span> Do
                            </h1>
                        </div>
                        <div class="marquee-card-description">
                            <p class="marquee-description">
                                We design digital systems for businesses that think long-term. 
                                Through deliberate strategy and disciplined execution, we create platforms built to scale without friction, adapt without disruption, and endure beyond launch.
                                Progress, for us, is measured in longevity, not just speed.
                            </p>
                        </div>
                        <a class="blreveal-center-btn" href="/services"
                            data-default="Explore Our Approach" data-hover="Check It Out">
                            <!-- Wrapper for Grid Stacking -->
                            <div class="blreveal-btn-text-wrapper">
                                <!-- Text inserted via JS -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>