<section class="scroll-container">
    <!-- PINNED SECTION -->
    <div class="sticky-wrap">
        <div class="main-frame">
            <div class="stats-wrapper">
                <div>
                    <h1 class="stats-title">Turning Ideas Into <span>Impact.</span></h1>

                    <p class="stats-sub" role="text">Crafting digital experiences that drive results and elevate brands.</p>
                </div>
                <div class="stats-row">
                    <div class="stat-box">
                        <div>
                            <img src="/assets/tick-2.svg" alt="Tick" class="counter-icon" height="100%" width="100%" />
                        </div>
                        <div>
                            <h1 class="stat-number" data-target="230">0</h1>
                            <p class="stat-label">Projects Delivered</p>
                        </div>
                    </div>

                    <div class="stat-box" id="years-counter">
                        <div>
                            <img src="/assets/arrow-up.svg" alt="Arrow up" class="counter-icon" height="100%" width="100%" />
                        </div>
                        <div>
                            <h1 class="stat-number" data-target="19">0</h1>
                            <p class="stat-label">Years of Expertise</p>
                        </div>
                    </div>

                    <div class="stat-box">
                        <div>
                            <img src="/assets/star.svg" alt="Star" class="counter-icon" height="100%" width="100%" />
                        </div>
                        <div>
                            <h1 class="stat-number" data-target="183">0</h1>
                            <p class="stat-label">5-Star Client Reviews</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>