<div class="BTwords-page">
    <section class="BTwords-outer">
        <section class="BTwords-scroll-section">
            <div style="max-width: 85%;display: flex;justify-content: center; align-items: center;">
                <p class="BTwords-pin-text">
                An <span class="highlight-text">ecosystem</span> built on trust and long-term thinking.
            </p>
            </div>
            

            <div class="BTwords-content">
                <img class="BTwords-image" src="/assets/partners/hyva.webp" alt="Image 1">
                <img class="BTwords-image" src="/assets/partners/aws.webp" alt="Image 2">
                <img class="BTwords-image" src="/assets/partners/digitalocean.webp" alt="Image 3">
                <img class="BTwords-image" src="/assets/partners/klevu.webp" alt="Image 4">
                <img class="BTwords-image" src="/assets/partners/luro.webp" alt="Image 5">
                <img class="BTwords-image" src="/assets/partners/bemeir.webp" alt="Image 6">
                <img class="BTwords-image" src="/assets/partners/experro.webp" alt="Image 7">
                <img class="BTwords-image" src="/assets/partners/amasty.webp" alt="Image 8">
                <img class="BTwords-image" src="/assets/partners/chowdhary.webp" alt="Image 9">
                <img class="BTwords-image" src="/assets/partners/checkout.webp" alt="Image 10">
                <img class="BTwords-image" src="/assets/partners/payu1.webp" alt="Image 11">
                <img class="BTwords-image" src="/assets/partners/magento.webp" alt="Image 12">
                <img class="BTwords-image" src="/assets/partners/payu.webp" alt="Image 13" style="display: none;">
            </div>
        </section>
    </section>
</div>