<section class="philosophy-wrapper">
  <div id="philosophy-smooth-wrapper">
    <div class="philosophy-stage" id="philosophy-smooth-content">


      <section class="philosophy-intro philosophy-slide--0" id="philosophy-slide-0">
        <div class="philosophy-intro__content">
          <h1 class="philosophy-intro__title ">How We Think</h1>
          <p class="philosophy-intro__txt">
            Technology decisions shape businesses long after implementation is complete. 
            We approach technology as a strategic lever, one that reduces operational drag, enables scale, and creates long-term advantage. 
            Our responsibility is not to push tools or trends, but to design clear, resilient systems that produce clarity, resilience and results.
          </p>
        </div>
        <picture>
          <source srcset="/assets/philosophy-new-1.webp" media="(min-width: 1400px)">
          <source srcset="/assets/philosophy-new-1.webp" media="(min-width: 1024px)">
          <source srcset="/assets/philosophy-new-1-mobile.webp" media="(min-width: 600px)">
          <img class="philosophy-intro__img philosophy-intro__img--1" src="/assets/philosophy-new-1-mobile.webp"
            alt="Philosophy Intro Image" loading="lazy" height="100%" width="100%">
        </picture>

        <picture>
          <source type="image/webp" srcset="/assets/philosophy-new-2-390.webp 390w, /assets/philosophy-new-2-390.webp 780w, /assets/philosophy-new-2-1170.webp 1170w" sizes="(max-width:600px) 90vw, 390px">
          <img class="philosophy-intro__img philosophy-intro__img--2" src="/assets/philosophy-new-2-390.webp" alt="Philosophy Image" width="390" height="585" decoding="async" fetchpriority="high">
        </picture>
      </section>


      <section class="philosophy-slide philosophy-slide--1" id="philosophy-slide-1">
        <div class="philosophy-col philosophy-col--1">
          <div class="philosophy-col__content philosophy-col__content--1">
            <h2 class="philosophy-col__content-title ">
              <span class="philosophy-line__inner spacing-fix ">Precision</span><br />
              <span class="philosophy-line__inner">Evolved</span>
            </h2>
            <div class="philosophy-col__content-wrap">
              <p class="philosophy-col__content-txt">
                In a market driven by speed, we choose intent.
                <span class="brush-pink">Precision</span>, to us, is the discipline of making fewer but better decisions, across systems, experiences, and long-term direction. 
                We help businesses move forward with clarity, designing solutions that remain relevant as scale, complexity and expectations evolve. 
              </p>
              <p class="philosophy-slide-link">
                <span class="philosophy-slide-link__circ"></span>
                <span class="philosophy-slide-link__line"></span>
              </p>
            </div>
          </div>
          <!-- <a href="#philosophy-slide-2" class="philosophy-slide__scroll-link">
            <div class="philosophy-slide__scroll-line"></div>
          </a> -->
        </div>
        <div class="philosophy-col philosophy-col--2">
          <div class="philosophy-col__image-wrap">
       <picture>
          <!-- Mobile first -->
          <source srcset="/assets/precision_mobile_resized.webp" media="(max-width: 599px)">

          <!-- Tablet -->
          <source srcset="/assets/precision_desktop.webp" media="(max-width: 1399px)">

          <!-- Large desktop -->
          <source srcset="/assets/precision_zmylvd.webp" media="(min-width: 1400px)">

          <!-- Fallback -->
          <img
            src="/assets/precision_mobile.webp"
            alt="Philosophy Image"
            width="100%"
            height="100%"
            loading="lazy">
        </picture>

          </div>
        </div>
      </section>

      <section class="philosophy-slide philosophy-slide--2" id="philosophy-slide-2">
        <div class="philosophy-col philosophy-col--1">
          <div class="philosophy-col__content philosophy-col__content--2">
            <h2 class="philosophy-col__content-title">
              <span class="philosophy-line__inner spacing-fix">Clarity</span><br />
              <span class="philosophy-line__inner">Engineered</span>
            </h2>
            <div class="philosophy-col__content-wrap">
              <div class="philosophy-col__content-txt">
                <p>
                  We build and evolve business-critical platforms across:
                </p>
                <ul>
                  <li>OmniCommerce experiences that unify channels and customer journeys</li>
                  <li>Commerce &amp; AI systems that drive automation and operational intelligence</li>
                  <li>GenAI-enabled platforms that support decision-making, personalization, and scale</li>
                </ul>
                <p>
                  We believe clarity is designed, not discovered.
                </p>
              </div>

              <p class="philosophy-slide-link">
                <span class="philosophy-slide-link__circ"></span>
                <span class="philosophy-slide-link__line"></span>
              </p>
            </div>

          </div>
          <!-- <a href="#philosophy-slide-3" class="philosophy-slide__scroll-link">
            <div class="philosophy-slide__scroll-line"></div>
          </a> -->
        </div>
        <div class="philosophy-col philosophy-col--2">
          <div class="philosophy-col__image-wrap">
            <picture>
              <source srcset="/assets/clarity-1_sdxk8r.webp" media="(min-width: 1400px)">
              <source srcset="/assets/clarity-1_sdxk8r.webp" media="(min-width: 1024px)">
              <source srcset="/assets/clarity-1_sdxk8r.webp" media="(min-width: 600px)">
              <img class="philosophy-img philosophy-img--1" src="/assets/clarity-1_sdxk8r.webp"
                alt="Clarity slide image" loading="lazy">
            </picture>
          </div>
        </div>
      </section>

      <section class="philosophy-slide philosophy-slide--3" id="philosophy-slide-3">
        <div class="philosophy-col philosophy-col--1">
          <div class="philosophy-col__content philosophy-col__content--3">
            <h2 class="philosophy-col__content-title">
              <span class="philosophy-line__inner spacing-fix">Evolving</span><br />
              <span class="philosophy-line__inner ">Excellence</span>
            </h2>
            <div class="philosophy-col__content-wrap">
              <p class="philosophy-col__content-txt">
                Change is constant. Direction is a choice.
                We evolve with intent, advancing how eCommerce systems are conceived, built and sustained.
                Our commitment to excellence is not defined by trends, but by long-term relevance and resilience.
              </p>
              <p class="philosophy-slide-link">
                <span class="philosophy-slide-link__circ"></span>
                <span class="philosophy-slide-link__line"></span>
              </p>
            </div>
          </div>
          <!-- <a href="#philosophy-slide-4" class="philosophy-slide__scroll-link">
            <div class="philosophy-slide__scroll-line"></div>
          </a> -->
        </div>
        <div class="philosophy-col philosophy-col--2">
          <div class="philosophy-col__image-wrap">
            <img class="philosophy-img philosophy-img--1" src="/assets/evolution_11zon.webp" alt="Philosophy Image" />
          </div>
        </div>
      </section>
    </div>
  </div>
</section>