<div id="section-reveal-wrapper">
    <div id="panel-container">
        <!-- PANEL 1 -->
        <section class="panel gradient-green">
            <div class="panel-inner first-panel-width">
                <h2 class="panel-title">With 9+ years of React Native expertise, we deliver trusted and refined development practices.</h2>

                <img src="/assets/technology/reactnative-page-img2.svg" alt="Hyvä Theme Image" class="panel-img" height="100%" width="100%" style="object-fit: cover" />
            </div>
        </section>

        <!-- PANEL 2 -->
        <section class="panel gradient-orange">
            <div class="panel-inner">
                <h2 class="panel-title">Proof of Concept & Android App</h2>
                <div class="card-grid">
                    <div class="adv-card">
                        <h3 class="panel-subtitle" role="text">Proof of Concept</h3>
                        <p class="panel-text" role="text">Quickly validate your app idea with a functional prototype that demonstrates feasibility and potential to stakeholders.</p>
                    </div>

                    <div class="adv-card">
                        <h3 class="panel-subtitle" role="text">Android App</h3>
                        <p class="panel-text" role="text">Build custom Android apps tailored to your needs, ensuring seamless performance and a smooth user experience.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- PANEL 3 -->
        <section class="panel gradient-purple third-panel">
            <div class="panel-inner">
                <h2 class="panel-title third-panel-margin-top">iOS App & Development Support</h2>

                <div class="card-grid">
                    <div class="adv-card">
                        <h3 class="panel-subtitle" role="text">iOS App</h3>
                        <p class="panel-text" role="text">Develop high-quality native iOS apps optimized for iPhone and iPad, delivering performance and usability.</p>
                    </div>

                    <div class="adv-card">
                        <h3 class="panel-subtitle" role="text">Development Support</h3>
                        <p class="panel-text" role="text">Get reliable support packages to resolve issues, maintain your apps, and keep them up-to-date efficiently.</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- PANEL 4 -->
        <section class="panel gradient-blue">
            <div class="panel-inner">
                <h2 class="panel-title">React Native Specialists Since 2016</h2>
                <h3 class="panel-subtitle reactnative-section-font panel-subtitle-uppercase" role="text">With React Native experience since 2016, we deliver faster timelines, optimised code, clear communication, and reliable progress.</h3>
                <img src="/assets/technology/reactnative-page-img1.webp" alt="Hyvä Theme Image" class="panel-img" height="100%" width="100%" style="object-fit: cover" />
            </div>
        </section>
    </div>
</div>
