<section class="sanser-body">
    <section class="sanser-section2">
        <div>
            <h1 class="services-we-offer-heading">
                 Services, Delivered as a  <span class="offer-height mobile-break">System</span>
            </h1>
        </div>
        <div class="sanser-cards">
            <div class="sanser-background"></div>

            <div class="sanser-card">

                <!-- BACK -->
                <div class="sanser-back sanser-card-face">
                    <div class="sanser-content-wrapper">
                        <div class="sanser-svg-container sanser-back-svg"></div>
                        <h2 class="sanser-back-title"></h2>
                        <p class="sanser-back-info"></p>
                    </div>
                </div>

                <!-- FRONT -->
                <div class="sanser-front sanser-card-face">
                    <div class="sanser-content-wrapper">
                        <div class="sanser-svg-container sanser-front-svg"></div>
                        <h2 class="sanser-front-title"></h2>
                        <p class="sanser-front-info"></p>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>