<div id="section-reveal-wrapper">
    <div id="panel-container">
        <!-- PANEL 1 -->
        <section class="panel gradient-green">
            <div class="panel-inner first-panel-width" id="shopify-first-panel-width">
                <h2 class="panel-title">With 12+ years in Shopify Development, we deliver trusted, refined, and mature
                    development practices for your project.</h2>
                    <h3 class="panel-subtitle panel-subtitle-uppercase" role="text">
                       Backed by 10+ years of Shopify experience, we use proven practices to build stable, scalable, and future-ready stores.
                    </h3>

                <img src="/assets/technology/shopify-page-img1.webp" alt="Hyvä Theme Image" class="panel-img"
                    height="100%" width="100%" style="background-color: white" />
            </div>
        </section>

        <!-- PANEL 2 -->
        <section class="panel gradient-orange">
            <div class="panel-inner">
                <h2 class="panel-title">Replatforming & Custom Development</h2>
                <div class="card-grid">
                    <div class="adv-card">
                        <h3 class="panel-subtitle" role="text">Replatforming</h3>
                        <p class="panel-text" role="text">
                            We retain your key site features and recommend smart ecommerce upgrades to improve workflow
                            and performance.
                        </p>
                    </div>

                    <div class="adv-card">
                        <h3 class="panel-subtitle" role="text">Custom Development</h3>
                        <p class="panel-text" role="text">
                            When standard tools aren’t enough, we build custom solutions tailored to your business needs
                            and long-term goals.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- PANEL 3 -->
        <section class="panel gradient-purple third-panel">
            <div class="panel-inner">
                <h2 class="panel-title">Design revamp & UX audit</h2>

                <div class="card-grid">
                    <div class="adv-card">
                        <h3 class="panel-subtitle" role="text">Design Revamp</h3>
                        <p class="panel-text" role="text">
                            We redesign your site for better usability with a clean, responsive layout and a more
                            intuitive user flow.
                        </p>
                    </div>

                    <div class="adv-card">
                        <h3 class="panel-subtitle" role="text">UX Audit</h3>
                        <p class="panel-text" role="text">
                            We identify usability blockers and highlight improvements to help your pages perform better
                            and engage users.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- PANEL 4 -->
        <section class="panel gradient-blue">
            <div class="panel-inner">
                <h2 class="panel-title">Integrations & website support</h2>
                <div class="card-grid">
                    <div class="adv-card">
                        <h3 class="panel-subtitle" role="text">3rd Party Integration</h3>
                        <p class="panel-text" role="text">
                            We integrate your store with BI, ERP, analytics, and other systems to keep data and
                            workflows connected.
                        </p>
                    </div>

                    <div class="adv-card">
                        <h3 class="panel-subtitle" role="text">Website Support</h3>
                        <p class="panel-text" role="text">
                            Our support plans ensure smooth performance with priority fixes, updates, and ongoing
                            maintenance.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>