<section class="footer">
    <div class="object-container">
        <div class="object html">
            <img
                src="assets/html-5.png"
                srcset="assets/html-5.png 1x, assets/html-5.png 2x, assets/html-5.png 3x"
                width="42"
                height="42"
                loading="lazy"
                alt="HTML"
            />

            HTML
        </div>

        <div class="object css">
            <img
                src="assets/css-3.png"
                srcset="assets/css-3.png 1x, assets/css-3.png 2x, assets/css-3.png 3x"
                width="42"
                height="42"
                loading="lazy"
                alt="CSS"
            />

            CSS
        </div>
        <div class="object js">
            <img
                src="assets/javascript.png"
                srcset="assets/javascript.png 1x, assets/javascript.png 2x, assets/javascript.png 3x"
                width="42"
                height="42"
                loading="lazy"
                alt="JavaScript"
            />

            JavaScript
        </div>
        <div class="object react">
            <img
                src="assets/react.png"
                srcset="assets/react.png 1x, assets/react.png 2x, assets/react.png 3x"
                width="42"
                height="42"
                loading="lazy"
                alt="React"
            />

            React
        </div>
        <div class="object node">
            <img
                src="assets/nodejs.png"
                srcset="assets/nodejs.png 1x, assets/nodejs.png 2x, assets/nodejs.png 3x"
                width="42"
                height="42"
                loading="lazy"
                alt="Node.js"
            />

            Node.js
        </div>
        <div class="object sql">
            <img
                src="/assets/service-page-logo/Mysql_logo.webp"
                srcset="/assets/service-page-logo/Mysql_logo.webp 1x, /assets/service-page-logo/Mysql_logo.webp 2x, /assets/service-page-logo/Mysql_logo.webp 3x"
                width="42"
                height="42"
                loading="lazy"
                alt="SQL"
            />

            SQL
        </div>
        <div class="object git">
            <img
                src="assets/git-techstack.webp"
                srcset="assets/git-techstack.webp 1x, assets/git-techstack.webp 2x, assets/git-techstack.webp 3x"
                width="42"
                height="42"
                loading="lazy"
                alt="Git"
            />

            Git
        </div>
        <div class="object docker">
            <img
                src="assets/docker-techstack.webp"
                srcset="assets/docker-techstack.webp 1x, assets/docker-techstack.webp 2x, assets/docker-techstack.webp 3x"
                width="42"
                height="42"
                loading="lazy"
                alt="Docker"
            />

            Docker
        </div>
        <div class="object aws">
            <img
                src="assets/aws-logo.png"
                srcset="assets/aws-logo.png 1x, assets/aws-logo.png 2x, assets/aws-logo.png 3x"
                width="42"
                height="42"
                loading="lazy"
                alt="AWS"
            />

            AWS
        </div>
        <div class="object php">
            <img
                src="assets/php.png"
                srcset="assets/php.png 1x, assets/php.png 2x, assets/php.png 3x"
                width="42"
                height="42"
                loading="lazy"
                alt="PHP"
            />

            PHP
        </div>
        <div class="object magento">
            <img
                src="/assets/magento-techstack.webp"
                srcset="assets/magento-techstack.webp 1x, assets/magento-techstack.webp 2x, assets/magento-techstack.webp 3x"
                width="42"
                height="42"
                loading="lazy"
                alt="Magento"
            />

            Magento
        </div>
    </div>

    <div class="footer-content">
        <h1>
            <span class="code">Code.</span>
            <span class="create">Create.</span>
            <span class="conquer">Conquer.</span>
            <br />
            <span class="subtitle">Explore Our Tech DNA</span>
        </h1>
    </div>
</section>