<section class="outecgy-body">
    <div class="technologyService-heading">
        <h2>Technologies We Work With</h2>
    </div>
    <div class="outecgy-marquee-wrapper">
        <!-- ROW 1 -->
        <div class="outecgy-logo-row">
            <div class="outecgy-marquee" data-direction="left">
                <ul class="outecgy-marquee-content">
                    <!-- Existing -->
                    <li><img height="100%" width="100%" src="/assets/service-page-logo/github.webp" alt="GitHub" /></li>
                    <li>
                        <picture class="outecgy-picture">
                            <source media="(max-width: 768px)" srcset="/assets/service-page-logo/mobile/react-logo-removebg-preview-mobile.webp" />
                            <img height="100%" width="100%" src="/assets/service-page-logo/react-logo-removebg-preview.webp" alt="React" loading="lazy" />
                        </picture>
                    </li>
                    <li>
                        <picture class="outecgy-picture">
                            <source media="(max-width: 768px)" srcset="/assets/service-page-logo/mobile/Vue_Logo_2-removebg-preview-mobile.webp" />
                            <img height="100%" width="100%" src="/assets/service-page-logo/Vue_Logo_2-removebg-preview.webp" alt="Vue" loading="lazy" />
                        </picture>
                    </li>
                    <li>
                        <picture class="outecgy-picture">
                            <source media="(max-width: 768px)" srcset="/assets/service-page-logo/mobile/wordpress-logo-removebg-preview-mobile.webp" />
                            <img height="100%" width="100%" src="/assets/service-page-logo/wordpress-logo-removebg-preview.webp" alt="WordPress" loading="lazy" />
                        </picture>
                    </li>
                    <li>
                        <picture class="outecgy-picture">
                            <source media="(max-width: 768px)" srcset="/assets/service-page-logo/mobile/shopify-new-logo-removebg-preview-mobile.webp" />
                            <img height="100%" width="100%" src="/assets/service-page-logo/shopify-new-logo-removebg-preview.webp" alt="Shopify" loading="lazy" />
                        </picture>
                    </li>
                    <li>
                        <picture class="outecgy-picture">
                            <source media="(max-width: 768px)" srcset="/assets/service-page-logo/mobile/HTML-5-Badge-Logo-removebg-preview-mobile.webp" />
                            <img height="100%" width="100%" src="/assets/service-page-logo/HTML-5-Badge-Logo-removebg-preview.webp" alt="HTML5" loading="lazy" />
                        </picture>
                    </li>
                    <!-- <li><img height="100%" width="100%" src="/assets/service-page-logo/bootstrap-logo-removebg-preview.webp" alt="Bootstrap"></li> -->
                    <li>
                        <picture class="outecgy-picture">
                            <source media="(max-width: 768px)" srcset="/assets/service-page-logo/mobile/Tailwind_CSS_Logo.svg-removebg-preview-mobile.webp" />
                            <img height="100%" width="100%" src="/assets/service-page-logo/Tailwind_CSS_Logo.svg-removebg-preview.webp" alt="Tailwind CSS" loading="lazy" />
                        </picture>
                    </li>

                    <li>
                        <picture class="outecgy-picture">
                            <source media="(max-width: 768px)" srcset="/assets/service-page-logo/mobile/Laravel.svg-removebg-preview-mobile.webp" />
                            <img height="100%" width="100%" src="/assets/service-page-logo/Laravel.svg-removebg-preview.webp" alt="Laravel" loading="lazy" />
                        </picture>
                    </li>

                    <li>
                        <picture class="outecgy-picture">
                            <source media="(max-width: 768px)" srcset="/assets/service-page-logo/mobile/php-logo-removebg-preview-mobile.webp" />
                            <img height="100%" width="100%" src="/assets/service-page-logo/php-logo-removebg-preview.webp" alt="PHP" loading="lazy" />
                        </picture>
                    </li>

                    <li><img height="100%" width="100%" src="/assets/service-page-logo/new-ai-tools-images/embeddings.png" alt="Embeddings" loading="lazy" /></li>
                    <li><img height="100%" width="100%" src="/assets/service-page-logo/new-ai-tools-images/hugging-face.png" alt="Hugging Face" loading="lazy" /></li>
                </ul>
            </div>
        </div>

        <div class="outecgy-logo-row">
            <div class="outecgy-marquee" data-direction="right">
                <ul class="outecgy-marquee-content">
                    <li>
                        <picture class="outecgy-picture">
                            <source media="(max-width: 768px)" srcset="/assets/service-page-logo/mobile/Figma-logo.svg-removebg-preview-mobile.webp" />
                            <img height="100%" width="100%" src="/assets/service-page-logo/Figma-logo.svg-removebg-preview.webp" alt="Figma" loading="lazy" />
                        </picture>
                    </li>

                    <li>
                        <picture class="outecgy-picture">
                            <source media="(max-width: 768px)" srcset="/assets/service-page-logo/mobile/js-logo-removebg-preview-mobile.webp" />
                            <img height="100%" width="100%" src="/assets/service-page-logo/js-logo-removebg-preview.webp" alt="JavaScript" loading="lazy" />
                        </picture>
                    </li>
                    <li>
                        <picture class="outecgy-picture">
                            <source media="(max-width: 768px)" srcset="/assets/service-page-logo/mobile/docker_original_logo_icon_new-removebg-preview-mobile.webp" />
                            <img height="100%" width="100%" src="/assets/service-page-logo/docker_original_logo_icon_new-removebg-preview.webp" alt="Docker" loading="lazy" />
                        </picture>
                    </li>
                    <li><img height="100%" width="100%" src="/assets/service-page-logo/git-logo.webp" alt="Git" /></li>
                    <li>
                        <picture class="outecgy-picture">
                            <source media="(max-width: 768px)" srcset="/assets/service-page-logo/mobile/graphql-logo-removebg-preview-mobile.webp" />
                            <img height="100%" width="100%" src="/assets/service-page-logo/graphql-logo-removebg-preview.webp" alt="GraphQL" loading="lazy" />
                        </picture>
                    </li>

                    <li>
                        <picture class="outecgy-picture">
                            <source media="(max-width: 768px)" srcset="/assets/service-page-logo/mobile/nextjs-icon-mobile.webp" />
                            <img height="100%" width="100%" src="/assets/service-page-logo/nextjs-icon.webp" alt="Next.js" loading="lazy" />
                        </picture>
                    </li>

                    <li><img height="100%" width="100%" src="/assets/service-page-logo/mongodb-logo-new-removebg-preview.webp" alt="MongoDB" /></li>
                    <li>
                        <picture class="outecgy-picture">
                            <source media="(max-width: 768px)" srcset="/assets/service-page-logo/mobile/Mysql_logo-mobile.webp" />
                            <img height="100%" width="100%" src="/assets/service-page-logo/Mysql_logo.webp" alt="MySQL" loading="lazy" />
                        </picture>
                    </li>

                    <li>
                        <picture class="outecgy-picture">
                            <source media="(max-width: 768px)" srcset="/assets/service-page-logo/mobile/Postgresql_elephant-mobile.webp" />
                            <img height="100%" width="100%" src="/assets/service-page-logo/Postgresql_elephant.webp" alt="PostgreSQL" loading="lazy" />
                        </picture>
                    </li>

                    <li><img height="100%" width="100%" src="/assets/service-page-logo/new-ai-tools-images/chroma.png" alt="Chroma" loading="lazy" /></li>
                    <li><img height="100%" width="100%" src="/assets/service-page-logo/new-ai-tools-images/llm.png" alt="LLM" loading="lazy" /></li>
                    <li><img height="100%" width="100%" src="/assets/service-page-logo/new-ai-tools-images/ollama.png" alt="Ollama" loading="lazy" /></li>
                </ul>
            </div>
        </div>
    </div>
</section>
