<section class="testimonials-section">
    <div class="testimonials-section-container">
        <div class="section-headings">
            <h2 class="testimonial-title">The Testimonials</h2>
            <p class="testimonial-sub-title">Hear what our satisfied clients have to say about working with us.</p>
        </div>
        <div class="testimonials-layout-wrapper">
            <div class="sticky-images-container">
                <span class="active-testimonial-image-highlight"></span>
                <ul class="testimonial-images-list">
                    <li class="testimonial-image-container active">
                        <picture class="testimonial-person-img">
                            <img src="assets/home-testimonials/cool-hand-moovers.webp"
                                alt="Random">
                        </picture>

                    </li>
                    <li class="testimonial-image-container">
                        <picture class="testimonial-person-img">
                            <img src="assets/home-testimonials/heated-details.webp"
                                alt="random">
                        </picture>

                    </li>
                    <li class="testimonial-image-container" style="background-color: white;">
                        <picture class="testimonial-person-img">
                            <img src="assets/home-testimonials/everest-logo.webp"
                                alt="random">
                        </picture>
                    </li>
                    <li class="testimonial-image-container" style="background-color: white;">
                        <picture class="testimonial-person-img">
                            <img src="assets/home-testimonials/the-flag-corporation.webp"
                                alt="random">
                        </picture>
                    </li>
                </ul>
            </div>

            <ul class="testimonials-content-layout-wrapper">
                <li class="testimonial-content-container">
                    <p class="testimonial-text testimonial-text-1" role="text">

                        I've been working with Ahy Consulting for almost a year on SEO and website maintenance, and
                        I couldn't be happier with the results. Very easy to work with and patient in explaining the
                        technical aspects. Their expertise has freed up my time to focus on running my business,
                        making it well worth the investment.
                    </p>
                    <div class="testimonial-extra-info-container">
                        <p class="testimonial-person-info">
                            <span class="testimonial-name">Matt Graber,</span>
                            <span class="testimonial-designation">&nbspFounder,&nbsp Cool Hand Movers</span>
                        </p>
                    </div>
                </li>

                <li class="testimonial-content-container">
                    <p class="testimonial-text testimonial-text-2" role="text">

                        I worked with AHY on a large project, and they were amazing, consummate professionals who
                        went the extra mile in both execution and ideas. It was a real pleasure working with them.
                    </p>
                    <div class="testimonial-extra-info-container">
                        <p class="testimonial-person-info">
                            <span class="testimonial-name">Chad Mummert,</span>
                            <span class="testimonial-designation">&nbspManager,&nbsp Heated Details</span>
                        </p>
                    </div>
                </li>

                <li class="testimonial-content-container">
                    <p class="testimonial-text testimonial-text-3" role="text">
                        Fantastic work! Having Ahy Consulting on the team made a huge difference. Thank you for
                        being so flexible. Really admirable how Mr. Harpreet Singh (the brain of Ahy Consulting)
                        handled our project from conception to completion.
                    </p>
                    <div class="testimonial-extra-info-container">
                        <p class="testimonial-person-info">
                            <span class="testimonial-name">Bill Voss,</span>
                            <span class="testimonial-designation">&nbspCEO,&nbsp EVEREST</span>
                        </p>
                    </div>
                </li>

                <li class="testimonial-content-container">
                    <p class="testimonial-text testimonial-text-4" role="text">
                        They were very responsive to any changes or recommendations I had, resolving most issues
                        within a day or two. Everything was completed on time, and they were always ready for new
                        challenges. No matter the industry, their team delivers something innovative and worthwhile.
                    </p>
                    <div class="testimonial-extra-info-container">
                        <p class="testimonial-person-info">
                            <span class="testimonial-name">Gyan Shah,</span>
                            <span class="testimonial-designation">&nbspPartner,&nbsp The Flag Corporation</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>