<section class="whatPartnersSay-section">
    <div class="whatPartnersSay-container">
        <div class="whatPartnersSay-title-wrap">
            <h2 class="whatPartnersSay-title">For each project, it seems natural to us to...</h2>
        </div>

        <div class="whatPartnersSay-cards-wrap">
            <ul class="whatPartnersSay-cards">
                <li class="whatPartnersSay-card whatPartnersSay-card--left">
                    <img src="assets/about-us-cards/Frame 36.png" alt="Frame 36" />
                </li>
                <li class="whatPartnersSay-card whatPartnersSay-card--right">
                    <img src="assets/about-us-cards/make-it-beautiful.png" alt="Frame 34" />
                </li>
                <li class="whatPartnersSay-card whatPartnersSay-card--left">
                    <img src="assets/about-us-cards/build.png" alt="Frame 37" />
                </li>
                <li class="whatPartnersSay-card whatPartnersSay-card--right">
                    <img src="assets/about-us-cards/Frame 35 (2).png" alt="Frame 35" />
                </li>
            </ul>
        </div>
    </div>
</section>